@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap');
/* General styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";

}
/* This sets the pub background image and displays a black tone over the image */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("https://michaelray2.github.io/Benedictine-Pub-VS-Code/assets/Images/pub_main.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.header-other {
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("https://michaelray2.github.io/Benedictine-Pub-VS-Code/assets/Images/pub_main.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}  
/* Centers items in the nav element and applys padding */
nav {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links {
    flex: 1;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    /* erasing line underneathe navs prior to hover */
    width: 0%;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition:0.7s;
}
/* Hover effect */
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 0px;
    font-size: 14px;
    color: #fff;
}
.open-times {
    width: 90%;
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, 0%); 
    text-align: center;
}
.open-times ul li{
    list-style: none;
}
.open-times p {display:inline-block;
}
.hero-button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.hero-button:hover{
    border: 1px solid blue; 
    background: blue;
    transition: 0.5s;
}
/* Hides navigation icons for larger screens */
nav .fa{
    display: none;
}


/* Media query to suit mobile phone devices */
@media (max-width: 700px){
    .text-box h1{
        font-size: 20px;
}
.nav-links ul li{
    display: block;

}
.nav-links{
    position: absolute;
    background: maroon;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}

nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

}
.nav {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
        }

/*Information Styles*/
.information {
        width: 95%;
        margin: auto;
        text-align: center;
        color: white;
        padding-top: 50px;
        background-image: url("https://michaelray2.github.io/Benedictine-Pub-VS-Code/assets/Images/pub_beer.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
    }
h1 {
    font-size: 36px;
    font-weight: 600;
}
/* Changing color of heading to suit lighter background */
.information h1, .information p {
    color: #e0e0dc
}
p {
    color: #c8c8c4;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
#info-header, #info-subheader {
    color: black;
}
.about-content, .venues {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.about-us, .venues  {
    flex-basis: 31%;
    background: brown;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.about-us:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}
@media(max-width: 700px){
    .about-content, .venues {
        flex-direction: column;
    }
}
/* Venues */
.all-venues  {
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.concert-room, .conservatory, .beer-garden {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    color: white
}
.concert-room img, .conservatory img, .beer-garden img {
    width: 100%;
    border-radius: 10px;
}
.concert-room h3, .conservatory h3, .beer-garden h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* Pub Location */

.pub-location {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.google-map {
    padding-bottom: 50%;
    position: relative;
}
.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
/* Book Venue Page */
#request {
    background-image: url("https://michaelray2.github.io/Benedictine-Pub-VS-Code/assets/Images/beer_bubbles.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
#request-form {
    color: #ffffff;
    background-color: rgba(49, 49, 49, 0.6);
    padding: 30px;
}
.venue-heading {
    color: rgb(1, 1, 1);
}
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0 20px 50px;

}

.request-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: darkslateblue;
    color: #fafafa;
}
/* Media query to suit mobile phone devices */
@media (max-width: 700px){
    /* This makes the radio buttons appear in a list rather than along a row */
    .radio-buttons {
        width: 80%;
        display: inline-block;
        justify-content: space-between;
        margin: 5px 0 20px 50px;

}
}
/* Live Sports */
.sports {
    width: 95%;
    margin: auto;
    text-align: center;
    color: white;
    padding-top: 30px;
    background-image: url("https://michaelray2.github.io/Benedictine-Pub-VS-Code/assets/Images/premier_league_balls.jpg");
}

/* The general font set for p elements was not suitable for this line. Therefore, the rule below was needed. */
.sports > p{
    color:white;
}
.sports-channels {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.Sky-Sports, .TNT-Sports, .Amazon-Sports {
    flex-basis: 70%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.Sky-Sports img, .TNT-Sports img, .Amazon-Prime img {
    width: 90%;
    border-radius: 30px; 
}
.Sky-Sports img:hover, .TNT-Sports img:hover, .Amazon-Prime img:hover {
    box-shadow: 0 0 50px 0px rgba(0,0,0,0.4);}

@media (max-width: 700px) {
    .Sky-Sports, .TNT-Sports, .Amazon-Sports {
        flex-basis: 300%;
}
}
/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
